{
	email {$ACME_EMAIL}
}

http://{$FRONTEND_DOMAIN} {
	root * /srv
	encode zstd gzip
	try_files {path} /index.html
	file_server
}

http://{$BACKEND_DOMAIN} {
	# Handle CORS manually in Caddy to bypass Laravel issues
	@options {
		method OPTIONS
	}
	header {
		Access-Control-Allow-Origin "https://admin.johnrak.online"
		Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Origin, Content-Type, Accept, Authorization, X-Requested-With, X-XSRF-TOKEN"
		Access-Control-Allow-Credentials "true"
	}
	respond @options 204

	root * /var/www/public
	php_fastcgi backend:9000
}
