name: Deploy Admin

on:
  push:
    branches: ["prod"]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            mkdir -p ~/projects
            if [ -d ~/projects/johnrak-admin-starter ]; then
              cd ~/projects/johnrak-admin-starter
              git fetch origin prod
              git reset --hard origin/prod
            else
              cd ~/projects
              git clone https://github.com/Johnrak11/johnrak-admin-starter.git
              cd johnrak-admin-starter
              git checkout prod
            fi
            chmod +x deploy.sh
            ./deploy.sh